<form class="sheet actor character" autocomplete="off">
    <header class="sheet-header">
        <img class="profile" src="{{actor.img}}" data-tooltip="{{actor.name}}" data-edit="img" />
        <section class="header-details flexcol">
            <h1 class="document-name">{{actor.name}}</h1>
            <section>
                <span class="ancestry">{{ localize ancestryLabel }}</span>
                <span class="paths">{{ localize pathsLabel }}</span>
            </section>
        </section>
    </header>

    <section class="sheet-body">
        <section class="attribute-groups flexrow">
            {{#each attributeGroups as |attrGroup|}}

            <section class="attribute-group" data-id="{{attrGroup.id}}">
                {{!-- Header --}}
                <span class="label">{{ localize attrGroup.config.label }}</span>

                {{!-- Attributes and defense --}}
                <section class="attributes flexrow">
                    {{#with attrGroup.attributes.[0] as |attribute|}}
                    <div class="attribute flexcol" data-id="{{attribute.id}}">
                        <span class="box-title">{{ localize attribute.config.label }}</span>
                        <span class="value">{{attribute.value}}</span>
                    </div>
                    {{/with}}

                    {{#with attrGroup.defense as |defense|}}
                    <div class="defense">
                        <span class="box-title">{{ localize "COSMERE.Actor.Statistics.Defense"}}</span>
                        <div class="defense-box">
                            <span class="value">{{derived defense.value }}</span>
                        </div>
                    </div>
                    {{/with}}

                    {{#with attrGroup.attributes.[1] as |attribute|}}
                    <div class="attribute flexcol" data-id="{{attribute.id}}">
                        <span class="box-title">{{ localize attribute.config.label }}</span>
                        <span class="value">{{attribute.value}}</span>
                    </div>
                    {{/with}}
                </section>

                {{!-- Resource --}}
                <section class="resources flexrow">
                    {{#with attrGroup.resource as |resource|}}
                    <div class="resource flexrow" data-id="{{resource.id}}">
                        <div class="flexcol">
                            <span class="label">{{ localize resource.config.label}}</span>
                            <span class="value">{{resource.value}} / {{resource.max}}</span>
                        </div>
                        {{#if resource.deflect includeZero=true}}
                        <div class="deflect flexcol">
                            <span class="label">{{ localize "COSMERE.Actor.Statistics.Deflect"}}</span>
                            <span class="value">{{ resource.deflect }}</span>
                        </div>
                        {{/if}}
                    </div>
                    {{/with}}
                </section>

                {{!-- Skills --}}
                <section class="skills">
                    <ul class="skill-list">
                        {{#each attrGroup.skills as |skill|}}

                        {{#if skill.active}}

                        <li class="skill" data-id="{{skill.id}}">
                            <div class="mod-box rollable">
                                <span class="mod">+{{derived skill.mod }}</span>
                            </div>

                            <div class="label rollable">
                                <span>{{ localize skill.config.label }}</span>
                                <span style="text-transform: uppercase">({{ localize skill.config.attrLabel }})</span>
                            </div>

                            <ul class="ranks flexrow">
                                <li>
                                    <input type="checkbox" onclick="return false;" {{#if (greaterThan skill.rank 1 true)}}checked{{/if}}>
                                </li>
                                <li>
                                    <input type="checkbox" onclick="return false;" {{#if (greaterThan skill.rank 2 true)}}checked{{/if}}>
                                </li>
                                <li>
                                    <input type="checkbox" onclick="return false;" {{#if (greaterThan skill.rank 3 true)}}checked{{/if}}>
                                </li>
                                <li>
                                    <input type="checkbox" onclick="return false;" {{#if (greaterThan skill.rank 4 true)}}checked{{/if}}>
                                </li>
                                <li>
                                    <input type="checkbox" onclick="return false;" {{#if (greaterThan skill.rank 5 true)}}checked{{/if}}>
                                </li>
                            </ul>
                        </li>

                        {{/if}}

                        {{/each}}
                    </ul>
                </section>

                {{#if (eq attrGroup.id 'phy')}}
                {{!-- Remaining physical traits --}}
                <section class="flexrow">
                    <div class="derived-attribute flexcol">
                        <span class="label">{{ localize "COSMERE.Actor.Statistics.MovementRate"}}</span>
                        <span class="value">{{derived ../actor.system.movement.rate}} ft.</span>
                    </div>
                    <div class="derived-attribute flexcol">
                        <span class="label">{{ localize "COSMERE.Actor.Statistics.RecoveryDie"}}</span>
                        <span class="value">{{derived ../actor.system.recovery.die}}</span>
                    </div>
                    <div class="derived-attribute flexcol">
                        <span class="label">{{ localize "COSMERE.Actor.Statistics.SensesRange"}}</span>
                        <span class="value">
                            {{#if (derived ../actor.system.senses.obscuredAffected)}}
                                {{derived ../actor.system.senses.range}} ft.
                            {{else}}
                                {{ localize "COSMERE.Actor.Statistics.NoObscuredSense"}}
                            {{/if}}
                        </span>
                    </div>
                </section>
                {{/if}}

                {{#if (eq attrGroup.id 'spi')}}
                {{!-- Expertises --}}
                <section class="expertises flexcol">
                    <span class="label">{{ localize "COSMERE.Actor.Character.Expertise.name"}}</span>
                    <p class="list-value">
                        {{expertisesList ../actor '-'}}
                    </p>
                </section>
                {{/if}}
            </section>

            {{/each}}
        </section>


    </section>
</form>