{{#with (lookup tabsMap "details") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="details" data-group="primary">
    {{app-item-details-id}}
    {{app-item-details-type}}
    <h5>{{localize "COSMERE.Item.Sheet.Activation.Title"}}</h5>
    {{app-item-details-activation}}
</div>

{{/with}}