{{#with (lookup tabsMap "description") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="description" data-group="primary">
    {{app-item-properties}}
    {{#if @root.editable}}
    <prose-mirror name="system.description.value" 
        data-document-u-u-i-d="{{@root.item.uuid}}"
        value="{{@root.item.system.description.value}}"
        toggled="true"
        collaborate="true">
        {{{@root.descHtml}}}
    </prose-mirror>
    {{else}}
    {{{@root.descHtml}}}
    {{/if}}
</div>

{{/with}}