{{#with (lookup tabsMap "details") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="details" data-group="primary">
    {{app-item-details-id}}
    {{app-item-details-type}}

    {{formGroup @root.systemFields.customSkill
        value=@root.item.system.customSkill
        localize=true
    }}

    {{#if @root.item.system.customSkill}}
        {{formGroup @root.systemFields.skill
            value=@root.item.system.skill
            localize=true
            blank="GENERIC.None"
        }}
    {{/if}}
    
    {{app-item-details-activation}}
</div>

{{/with}}