{{#with (lookup tabsMap "details") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="details" data-group="primary">
    {{app-item-details-id}}
    {{app-item-details-type}}

    {{#if (not (eq @root.item.system.type 'none'))}}
    {{formGroup @root.systemFields.skill
        value=@root.item.system.skill
        localize=true
        blank="GENERIC.None"
    }}

    {{app-item-details-activation}}
    {{/if}}
</div>

{{/with}}