<header class="sheet-header">
    <div class="title">
        <h1 class="document-name">
            {{#if isEditMode}}
            <input class="value" type="text" name="name" value="{{actor.name}}">
            {{else}}
            {{actor.name}}
            {{/if}}
        </h1>
        <div class="details">
            {{#if isEditMode}}
            <select name="system.role">
                {{selectOptions roles selected=actor.system.role localize=true}}
            </select>
            {{else}}
            <span class="role">{{localize roleLabel}}</span>
            {{/if}}
            <i class="cosmere-icon delim">o</i>
            {{#if isEditMode}}
            <select name="system.size">
                {{selectOptions sizes selected=actor.system.size localize=true}}
            </select>
            {{else}}
            <span class="size">{{localize sizeLabel}}</span>
            {{/if}}

            <span class="type">{{localize typeLabel}}</span>
        </div>
    </div>

    <div class="level-details">
        <div class="level">
            <span class="label">{{localize "COSMERE.Actor.Sheet.Tier"}}</span>
            <div class="container">
                <span class="value">{{actor.system.tier}}</span>
            </div>
        </div>
    </div>
</header>