<form>
    <ul>
        {{#each categories as |category|}}

        <li class="form-group">
            <span>{{localize category.label}}</span>
        </li>

        <li>
            <ul>
                {{#each category.configuredExpertises as |expertise|}}
                <li class="form-group configured">
                    <input type="checkbox" name="{{category.type}}.{{expertise.id}}" 
                        {{#if expertise.hasExpertise}}checked{{/if}}
                        {{#if expertise.locked}}readonly{{/if}}
                    >
                    <label>{{localize expertise.label}}</label>
                    {{#if expertise.hasExpertise}}
                    {{log expertise}}
                    {{/if}}
                </li>
                {{/each}}

                {{#each category.customExpertises as |expertise|}}
                <li class="form-group custom">
                    <input type="text" name="{{category.type}}.{{expertise.id}}" value="{{expertise.label}}" 
                        {{#if expertise.locked}}readonly{{/if}}
                    >

                    {{#if (not expertise.locked)}}
                    <a data-action="remove-custom-expertise"
                        data-category="{{category.type}}"
                        data-id="{{expertise.id}}"
                        data-tooltip="{{localize "DIALOG.EditExpertise.Remove"}} {{expertise.label}}"
                    >
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    {{/if}}
                </li>
                {{/each}}

                <li class="form-group add-custom">
                    <a data-action="add-custom-expertise" data-category="{{category.type}}">
                        <i class="fa-solid fa-plus"></i>
                        {{localize "DIALOG.EditExpertise.Add"}}
                    </a>
                </li>
            </ul>
        </li>

        {{/each}}
    </ul>
</form>