{{#each sections as |section|}}
<ul class="actions-list" data-section-id="{{section.id}}">
    <li class="item header">
        <span class="name">{{localize section.label}}</span>
        <span class="col activation">
            {{localize "COSMERE.Actor.Sheet.Actions.Activation"}}
        </span>
        <span class="col consume">
            {{localize "COSMERE.Actor.Sheet.Actions.Consume"}}
        </span>
        <div class="col controls flexrow {{#if @root.isEditMode}}edit{{/if}}">
            <div></div>
            <div></div>
        </div>
    </li>

    {{#each section.items as |item|}}
    {{#with (lookup @root.itemState item.id) as |state|}}
    {{#with (itemContext item) as |ctx|}}

    <li class="item {{#if state.expanded}}expanded{{/if}} usable" data-item-id="{{item.id}}">
        {{!-- Image --}}
        <div class="col img" 
            data-action="use-item"
            data-tooltip="{{localize "COSMERE.Actor.Sheet.Actions.Use"}}"
        >
            <img class="roll-icon" src="/systems/cosmere-rpg/assets/icons/dice/d20white.svg">
            <img src="{{item.img}}">
        </div>

        {{!-- Name --}}
        <div class="col name" data-action="toggle-action-details">
            <span class="title">
                {{#if ctx.isWeapon}}{{localize "COSMERE.Item.Weapon.Strike"}}: {{/if}}{{item.name}}
            </span>
        </div>

        {{!-- Activation --}}
        <div class="col activation">
            {{#if ctx.hasActivation}}
            {{#if ctx.activation.hasCost}}
            <i class="cosmere-icon">
                {{#if (eq ctx.activation.cost.type "act")}}
                {{ ctx.activation.cost.value }}
                {{else}}
                {{cosmereDingbat ctx.activation.cost.type}}
                {{/if}}
            </i>
            {{/if}}
            {{/if}}
        </div>

        {{!-- Consume --}}
        <div class="col consume">
            {{#if ctx.hasConsume}}

            {{#if ctx.consume.consumesActorResource}}
            <span>{{ ctx.consume.value }} {{localize ctx.consume.resourceLabel }}</span>
            {{/if}}

            {{#if ctx.consume.consumesItemResource}}
            {{#if (and (eq ctx.consume.resource 'use') ctx.consume.resourceHasRecharge)}}
            <span>
                {{#if (gt ctx.consume.value 1)}}
                    {{ ctx.consume.value }}
                    {{!-- TODO: Localize --}}
                    per 
                {{/if}}
                {{localize ctx.consume.resourceRechargeLabel }}
            </span>
            {{else}}
            <span>{{ ctx.consume.value }} {{localize ctx.consume.resourceLabel }}</span>
            {{/if}}
            {{/if}}

            {{else}}
            <span>—</span>
            {{/if}}
        </div>

        {{!-- Controls --}}
        <div class="col controls flexrow {{#if @root.isEditMode}}edit{{/if}}">
            <a role="button"
                data-action="toggle-action-details"
                data-tooltip="{{localize "COSMERE.Actor.Sheet.Item.Details"}}"
            >
                <i class="icon-expanded fa-solid fa-chevron-down"></i>
                <i class="icon fa-solid fa-chevron-left"></i>
            </a>
            {{#if @root.isEditMode}}
            <a role="button"
                data-action="view-item"
                data-tooltip="{{localize "COSMERE.Actor.Sheet.Item.Edit"}}"
            >
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a role="button"
                data-action="remove-item"
                data-tooltip="{{localize "COSMERE.Actor.Sheet.Item.Remove"}}"
            >
                <i class="fa-solid fa-trash"></i>
            </a>
            {{/if}}
            <a role="button">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </a>
        </div>
    </li>


    {{#with (lookup section.itemData item.id) as |data|}}

    <li class="details {{#if state.expanded}}expanded{{/if}}" data-item-id="{{item.id}}">
        <div class="col description">
            {{{default data.descriptionHTML '<p>—</p>'}}}
        </div>
    </li>
    {{/with}}

    {{/with}}
    {{/with}}
    {{/each}}
</ul>
{{/each}}