<div class="attributes attribute-groups flexrow">
    {{#each attributeGroups as |attrGroup|}}
    <div class="attribute-group" data-id="{{attrGroup.id}}">
        {{!-- Header --}}
        <span class="label">
            {{ localize attrGroup.config.label }}
        </span>

        {{!-- Attributes and defense --}}
        <section class="attributes flexrow">
            {{#with attrGroup.attributes.[0] as |attribute|}}
            <div class="attribute flexcol" data-id="{{attribute.id}}">
                <span class="box-title">
                    {{ localize attribute.config.labelShort }}
                </span>
                <span class="value">
                    <input type="number" class="value" min="0" max="5" step="1"
                        name="system.attributes.{{attribute.config.key}}.value" value="{{attribute.value}}" 
                        {{#if (not @root.isEditMode)}}readonly{{/if}}
                    />
                </span>
            </div>
            {{/with}}

            {{#with attrGroup.defense as |defense|}}
            <div class="defense">
                <div class="defense-box">
                    <span class="value">{{ derived defense.value }}</span>
                </div>
            </div>
            {{/with}}

            {{#with attrGroup.attributes.[1] as |attribute|}}
            <div class="attribute flexcol" data-id="{{attribute.id}}">
                <span class="box-title">
                    {{ localize attribute.config.labelShort }}
                </span>
                <span class="value">
                    <input type="number" class="value" min="0" max="5" step="1"
                        name="system.attributes.{{attribute.config.key}}.value" value="{{attribute.value}}" 
                        {{#if (not @root.isEditMode)}}readonly{{/if}}    
                    />
                </span>
            </div>
            {{/with}}
        </section>
    </div>

    {{/each}}
</div>