{{#each sections as |section|}}
<ul class="equipment-list" data-section-id="{{section.id}}">
    <li class="item header">
        <span class="name">{{localize section.label}}</span>
        <span class="col quantity">
            {{localize "COSMERE.Actor.Sheet.Equipment.Quantity"}}
        </span>
        <span class="col weight">
            {{localize "COSMERE.Actor.Sheet.Equipment.Weight"}}
        </span>
        <div class="col equip"></div>
        <div class="col controls flexrow {{#if @root.isEditMode}}edit{{/if}}">
            <div></div>
            <div></div>
        </div>
    </li>

    {{#each section.items as |item|}}
    {{#with (lookup @root.itemState item.id) as |state|}}
    {{#with (itemContext item) as |ctx|}}

    <li class="item {{#if state.expanded}}expanded{{/if}} {{#if ctx.hasActivation}}usable{{/if}}" data-item-id="{{item.id}}">
        {{!-- Image --}}
        <div class="col img" 
            {{#if ctx.hasActivation}}
            data-action="use-item"
            data-tooltip="{{localize "COSMERE.Actor.Sheet.Actions.Strike"}}"
            {{/if}}
        >
            <img class="roll-icon" src="/systems/cosmere-rpg/assets/icons/dice/d20white.svg">
            <img src="{{item.img}}">
        </div>

        {{!-- Name --}}
        <div class="col name" data-action="toggle-action-details">
            <span class="title">{{item.name}}</span>
            <span class="subtitle">{{{ctx.subtitle}}}</span>
        </div>

        {{!-- Quantity --}}
        <div class="col quantity">
            {{#if ctx.hasQuantity}}
            <a role="button"
                data-action="decrease-quantity"
                data-tooltip="{{localize "COSMERE.Actor.Sheet.Equipment.DecreaseQuantity"}}"
            >
                <i class="fa-solid fa-minus"></i>
            </a>
            <span class="val">{{ctx.quantity}}</span>
            <a role="button"
                data-action="increase-quantity"
                data-tooltip="{{localize "COSMERE.Actor.Sheet.Equipment.IncreaseQuantity"}}"
            >
                <i class="fa-solid fa-plus"></i>
            </a>
            {{else}}
            <span class="val none">—</span>
            {{/if}}
        </div>

        {{!-- Weight --}}
        <div class="col weight">
            {{#if ctx.hasWeight}}
            <i class="fa-solid fa-weight-hanging"></i>
            <span class="val">{{ctx.weight.total}}</span>
            {{else}}
            <span class="val none">—</span>
            {{/if}}
        </div>

        {{!-- Equipped --}}
        <div class="col equip {{#if ctx.equipped}}equipped{{/if}}">
            {{#if ctx.isEquippable}}

            {{#if (eq ctx.equip.type 'hold')}}
            {{!-- Items equipped by holding them --}}

            {{#if (eq ctx.equip.hold 'two_handed')}}
            {{!-- Two handed item --}}
            <a role="button"
                data-action="toggle-equip"
                {{#if ctx.equipped}}
                data-tooltip="{{localize ctx.equip.holdLabel}}"
                {{else}}
                data-tooltip="{{localize "COSMERE.Item.Equip.Unequipped.Label"}}"
                {{/if}}
            >
                <img class="icon hold-2h" src="/systems/cosmere-rpg/assets/icons/ui/equip-2h.svg">
            </a>
            
            {{else}}
            {{!-- One handed item --}}
            <a class="compound" role="button"
                data-action="cycle-equip"
                {{#if ctx.equipped}}
                data-tooltip="{{localize ctx.equip.handLabel}}"
                {{else}}
                data-tooltip="{{localize "COSMERE.Item.Equip.Unequipped.Label"}}"
                {{/if}}
            >
                <img class="icon main-hand {{#if (not (eq ctx.equip.hand 'main_hand'))}}inactive{{/if}}" src="/systems/cosmere-rpg/assets/icons/ui/equip-1h-top.svg">
                <img class="icon off-hand {{#if (not (eq ctx.equip.hand 'off_hand'))}}inactive{{/if}}" src="/systems/cosmere-rpg/assets/icons/ui/equip-1h-bottom.svg">
            </a>

            </div>
            {{/if}}

            {{else}}
            {{!-- Items equipped by wearing them --}}
            <a role="button"
                data-action="toggle-equip"
                {{#if ctx.equipped}}
                data-tooltip="{{localize ctx.equip.typeLabel}}"
                {{else}}
                data-tooltip="{{localize "COSMERE.Item.Equip.Unequipped.Label"}}"
                {{/if}}
            >
                <i class="icon fa-solid fa-shirt"></i>  
            </a>

            {{/if}}

            {{/if}}

        </div>

        {{!-- Controls --}}
        <div class="col controls flexrow {{#if @root.isEditMode}}edit{{/if}}">
            <a role="button"
                data-action="toggle-action-details"
                data-tooltip="{{localize "COSMERE.Actor.Sheet.Item.Details"}}"
            >
                <i class="icon-expanded fa-solid fa-chevron-down"></i>
                <i class="icon fa-solid fa-chevron-left"></i>
            </a>
            {{#if @root.isEditMode}}
            <a role="button"
                data-action="view-item"
                data-tooltip="{{localize "COSMERE.Actor.Sheet.Item.Edit"}}"
            >
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a role="button"
                data-action="remove-item"
                data-tooltip="{{localize "COSMERE.Actor.Sheet.Item.Remove"}}"
            >
                <i class="fa-solid fa-trash"></i>
            </a>
            {{/if}}
            <a role="button">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </a>
        </div>
    </li>


    {{#with (lookup section.itemData item.id) as |data|}}

    <li class="details {{#if state.expanded}}expanded{{/if}}" data-item-id="{{item.id}}">
        <div class="col description">
            {{{default data.descriptionHTML '<p>—</p>'}}}
        </div>
    </li>
    {{/with}}

    {{/with}}
    {{/with}}
    {{/each}}
</ul>
{{/each}}