<ul class="goals-list">
    <li class="goal header">
        <span class="title">{{localize "COSMERE.Actor.Sheet.Details.Goals.Label"}}</span>
    </li>

    {{#each goals as |goal|}}
    <li class="goal {{#if goal.achieved}}achieved{{/if}}" data-id="{{goal.id}}">
        <i class="fa-solid fa-diamond"></i>

        <span class="title">{{goal.name}}</span>
        <input type="text" class="title inactive" value="{{goal.name}}">

        <a data-action="adjust-goal-progress"
            {{#if @root.editable}}
            data-tooltip="{{localize "COSMERE.Actor.Sheet.Details.Goals.AdjustProgressTooltipInc"}}<br>{{localize "COSMERE.Actor.Sheet.Details.Goals.AdjustProgressTooltipDec"}}"
            {{/if}}
        >
            <ul class="progress-pips">
                {{#times goal.level}}
                <li class="active"></li>
                {{/times}}
                {{#times (sub 3 goal.level)}}
                <li></li>
                {{/times}}
            </ul>
        </a>

        <div class="controls">
            {{#if @root.editable}}
            <a
                data-action="toggle-goal-controls"
                data-tooltip="APPLICATION.TOOLS.ToggleControls"
            >
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </a>
            {{/if}}
        </div>
    </li>
    {{/each}}
    
    {{#if editable}}
    <li class="goal new">
        <a data-action="add-goal">
            <i class="fa-solid fa-plus"></i>
            <span>
                {{localize "COSMERE.Actor.Sheet.Details.Goals.New"}}
            </span>
        </a>
    </li>
    {{/if}}
</ul>
{{#if editable}}
<div class="bottom-controls">
    <a {{#if hideCompletedGoals}}class="active"{{/if}} 
        data-action="toggle-hide-completed-goals"
    >
        <span class="label">{{localize "COSMERE.Actor.Sheet.Details.Goals.HideComplete"}}</span>
        {{#if hideCompletedGoals}}
        <i class="fa-solid fa-toggle-on"></i>
        {{else}}
        <i class="fa-solid fa-toggle-off"></i>
        {{/if}}
    </a>
</div>

<menu class="controls-dropdown {{#if controlsDropdown.expanded}}expanded{{/if}}"
    {{#if controlsDropdown.expanded}}
    style="top:{{controlsDropdown.position.top}}px;right:{{controlsDropdown.position.right}}px"
    {{/if}}
>
    <li class="header-control">
        <button class="control"
            data-action="edit-goal"
        >
            <i class="fa-solid fa-pen-to-square"></i>
            <span>{{localize "GENERIC.Button.Edit"}}</span>
        </button>
    </li>
    <li class="header-control">
        <button class="control"
            data-action="remove-goal"
        >
            <i class="fa-solid fa-trash"></i>
            <span>{{localize "GENERIC.Button.Remove"}}</span>
        </button>
    </li>
</menu>
{{/if}}