<ul class="injuries-list">
    <li class="injury header">
        <div class="col name">
            <span class="title">{{localize "COSMERE.Actor.Sheet.Injuries.Label"}}</span>
        </div>
        <div class="col duration">
            <span>{{localize "COSMERE.Actor.Sheet.Injuries.Duration"}}</span>
        </div>
        <div class="col action"></div>
        <div class="col controls flexrow">
            <div></div>
        </div>
    </li>

    {{#each injuries as |injury|}}

    <li class="item injury {{#if injury.isPermanent}}permanent{{/if}}" data-item-id="{{injury.id}}">
        <div class="col img">
            <img src="{{injury.img}}">
        </div>
        <div class="col name">
            <span>{{injury.name}}</span>
        </div>
        <div class="col duration">
            {{#if injury.isPermanent}}
            <span>{{localize "COSMERE.Actor.Sheet.Injuries.Permanent"}}</span>
            {{else}}
            {{#if @root.editable}}
            <a
                data-action="reduce-injury-duration"
                data-tooltip="COSMERE.Actor.Sheet.Injuries.DecreaseDuration"
            >
                <i class="fa-solid fa-minus"></i>
            </a>
            {{/if}}
            <span>{{injury.duration.remaining}} {{localize "COSMERE.Actor.Sheet.Injuries.Days"}}</span>
            {{#if @root.editable}}
            <a
                data-action="increase-injury-duration"
                data-tooltip="COSMERE.Actor.Sheet.Injuries.IncreaseDuration"
            >
                <i class="fa-solid fa-plus"></i>
            </a>
            {{/if}}
            {{/if}}
        </div>
        <div class="col action"></div>
        <div class="col controls flexrow">
            {{#if @root.editable}}
            <a data-action="toggle-injury-controls" 
                data-tooltip="APPLICATION.TOOLS.ToggleControls"
            >
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </a>
            {{/if}}
        </div>
    </li>
    <li hidden></li>

    {{/each}}
</ul>

{{#if editable}}
<menu class="controls-dropdown {{#if controlsDropdown.expanded}}expanded{{/if}}"
    {{#if controlsDropdown.expanded}}
    style="top:{{controlsDropdown.position.top}}px;right:{{controlsDropdown.position.right}}px"
    {{/if}}
>
    <li class="header-control">
        <button class="control"
            data-action="edit-injury"
        >
            <i class="fa-solid fa-pen-to-square"></i>
            <span>{{localize "GENERIC.Button.Edit"}}</span>
        </button>
    </li>
    <li class="header-control">
        <button class="control"
            data-action="remove-injury"
        >
            <i class="fa-solid fa-trash"></i>
            <span>{{localize "GENERIC.Button.Remove"}}</span>
        </button>
    </li>
</menu>
{{/if}}