<section class="sheet-content flexrow">
    <section class="col-left">
        <app-actor-details></app-actor-details>
        {{#each resources as |resourceId|}}
        {{{component 'app-actor-resource' resource=resourceId}}}
        {{/each}}

        <section class="skills">
            <header>
                <span>{{localize "COSMERE.Actor.Skill.label_p"}}</span>

                <a data-action="toggle-skills-collapsed"
                    data-tooltip="COSMERE.Actor.Sheet.{{#if skillsCollapsed}}ToggleShowSkills{{else}}ToggleCollapseSkills{{/if}}"
                >
                    {{#if skillsCollapsed}}
                    <i class="fa-solid fa-eye"></i>
                    {{else}}
                    <i class="fa-solid fa-eye-slash"></i>
                    {{/if}}
                </a>

                {{#if isEditMode}}
                <a data-action="configure-skills"
                    data-tooltip="COSMERE.Actor.Sheet.ConfigureSkills"
                >
                    <i class="fa-solid fa-gear"></i>
                </a>
                {{/if}}
            </header>

            <section>
            {{#each attributeGroups as |group|}}
            {{{component 'app-adversary-skills-group' collapsed=@root.skillsCollapsed group-id=group}}}
            {{/each}}
            </section>
        </section>
    </section>
    <section class="col-main">
        <app-adversary-header></app-adversary-header>
        <app-actor-attributes></app-actor-attributes>
        <div class="tab-body">
            {{> adv-actions-tab}}
            {{> adv-equipment-tab}}
            {{> adv-effects-tab}}
        </div>
    </section>
</section>