<form>
    {{#each formulas}}
    <div class="form-group">
        <label>{{ localize "GENERIC.Formula"}}</label>
        <input type="text" name="formula" value="{{formula}}" disabled>
    </div>
    {{/each}}

    <div class="form-group">
        <label>{{ localize 'COSMERE.Actor.Attribute.name' }}</label>
        <select name="attribute">
            {{selectOptions attributes selected=defaultAttribute localize=true}}
        </select>
    </div>

    <div class="form-group">
        <label>{{ localize "DICE.Plot.RaiseTheStakes" }}</label>
        <input type="checkbox" name="plotDie" {{#if plotDie}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>{{ localize "DICE.RollMode" }}</label>
        <select name="rollMode">
            {{selectOptions rollModes selected=defaultRollMode localize=true}}
        </select>
    </div>
</form>