<form>
    <div class="form-group">
        <input name="max"
            {{#if (eq mode 'derived')}}
            type="text"
            value="{{formula}}"
            readonly
            {{else}}
            style="text-align: center; font-size: 15pt"
            type="number"
            min="0"
            step="1"
            value="{{derived max}}"
            {{/if}}
        >
    </div>
    <div class="form-group">
        <label>{{localize "GENERIC.Mode"}}</label>
        <select name="mode">
            {{selectOptions modes selected=mode localize=true}}
        </select>
    </div>
    <br>
    <div class="form-group">
        <button data-action="update-resource" type="submit">
            {{localize "GENERIC.Button.Update"}}
        </button>
    </div>
</form>