{{#with item as |item|}}
{{#with (itemContext item) as |ctx|}}

<div class="chat-card activity">
    <section class="header description {{#if (not @root.expanded)}}collapsed{{/if}}">
        <header class="summary">
            <img class="icon" src="{{ item.img }}" alt="{{ item.name }}">
            <div class="name stacked">
                <span class="title">
                    {{ item.name }}
                    {{#if ctx.hasActivation}}
                    {{#if ctx.activation.hasCost}}
                    <i class="cosmere-icon">
                        {{#if (eq ctx.activation.cost.type "act")}}
                        {{ ctx.activation.cost.value }}
                        {{else}}
                        {{cosmereDingbat ctx.activation.cost.type}}
                        {{/if}}
                    </i>
                    {{/if}}
                    {{/if}}
                </span>
                {{#if subtitle}}
                <span class="subtitle">{{{ctx.subtitle}}}</span>
                {{/if}}
            </div>
            {{#if @root.hasDescription}}
            <div class="controls">
                <div class="delim"></div>
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            {{/if}}
        </header>
        {{#if @root.hasDescription}}
        <hr>
        <div class="description">
            {{{@root.descriptionHTML}}}
        </div>
        {{/if}}
    </section>
    {{#if @root.flavor}}
    <section class="flavor">
        <span>{{@root.flavor}}</span>
    </section>
    {{/if}}
</div>

{{/with}}
{{/with}}

