<section class="chat-card-section description injury collapsible">
    <header class="summary">
        <img src="{{img}}">
        <div class="name-stacked">
            <span class="title">{{{title}}}</span>
        </div>
    </header>
    <section class="details collapsible-content">
        <div class="wrapper">
            <p>{{{description}}}</p>
        </div>
    </section>
</section>
<section class="chat-card-section">
    <div class="section-header">
        <span class="title"><i class="fa-solid fa-heart-crack"></i>{{ localize "COSMERE.ChatMessage.InjuryRoll" }}</span>
        <span class="subtitle">
            <span class="skill">{{type}}</span>
        </span>
    </div>
    <div class="dice-roll collapsible">
        <div class="dice-result">
            <div class="dice-formula">{{formula}}</div>
            {{{tooltip}}}
            <div class="dice-roll-injury">
                <h4 class="dice-total">
                    {{total}}
                </h4>
            </div>
        </div>
    </div>
</section>