<section class="chat-card-section {{type}}">
    <div class="section-header">
        <span class="title"><i class="{{icon}}"></i>{{title}}</span>
        {{#if subtitle}}
        <span class="subtitle">
            <span class="skill">{{localize subtitle.skill}}</span>
            <span class="attribute">({{localize subtitle.attribute}})</span>
        </span>
        {{/if}}
        {{#if damageTypes}}
        {{/if}}
    </div>
</section>