{{#with (lookup tabsMap "details") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="details" data-group="primary">
    {{app-item-details-type}}

    {{!-- Injury specific fields --}}
    <h5>{{localize "COSMERE.Item.Sheet.Injury.Duration"}}</h5>
    <div class="form-group">
        <label>
            {{localize "COSMERE.Item.Sheet.Injury.InitialDuration"}}
            <span class="units">({{localize "GENERIC.Units.Days"}})</span>
        </label>

        {{#if (not @root.isPermanent)}}
        <input name="system.duration.initial"
            type="number"
            min="0"
            step="1"
            value="{{@root.item.system.duration.initial}}"
            {{#if (not @root.editable)}}
            readonly
            {{/if}}
        >
        {{else}}
        <input type="text"
            value="—"
            readonly
        >
        {{/if}}
    </div>
    <div class="form-group">
        <label>
            {{localize "COSMERE.Item.Sheet.Injury.RemainingDuration"}}
            <span class="units">({{localize "GENERIC.Units.Days"}})</span>
        </label>
        {{#if (not @root.isPermanent)}}
        <input name="system.duration.remaining"
            type="number"
            min="0"
            step="1"
            value="{{@root.item.system.duration.remaining}}"
            {{#if (not @root.editable)}}
            readonly
            {{/if}}
        >
        {{else}}
        <input type="text"
            value="—"
            readonly
        >
        {{/if}}
    </div>
</div>

{{/with}}