<ul class="list-table">
    <li class="header">
        <div class="col type">
            <span>{{localize "GENERIC.Type"}}</span>
        </div>
        <div class="col description">
            <span>{{localize "GENERIC.Description"}}</span>
        </div>
        <div class="col controls">
            {{#if editable}}
            <div></div>
            <a data-action="create-reward"
                data-tooltip="{{localize "COSMERE.Item.Sheet.Goal.Reward.Create"}}"
            >
                <i class="fas fa-plus"></i>
            </a>
            {{/if}}
        </div>
    </li>

    {{#each rewards as |reward index|}}
    <li class="goal-reward" data-id="{{reward._id}}">
        <div class="col type">
            <span>{{localize typeLabel}}</span>
        </div>

        <div class="col description">
            {{#if (eq reward.type "skill-ranks")}}
            <span>
                {{localize "COSMERE.Item.Sheet.Goal.Reward.SkillRanksDescriptionValue" 
                    skill=(localize (concat "COSMERE.Skill." reward.skill))
                    ranks=reward.ranks
                }}
            </span>
            {{else if (eq reward.type "items")}}
                {{#each reward.items as |item|}}
                {{{item.link}}}
                {{#if (not @last)}}
                <span>,</span>
                {{/if}}
                {{/each}}
            {{/if}}
        </div>

        <div class="col controls">
            {{#if @root.editable}}
            <a data-action="edit-reward" 
                data-tooltip="{{localize "GENERIC.Button.Edit"}}"
            >
                <i class="fas fa-edit"></i>
            </a>
            <a data-action="remove-reward" 
                data-tooltip="{{localize "GENERIC.Button.Remove"}}"
            >
                <i class="fas fa-trash-alt"></i>
            </a>
            {{/if}}
    </li>
    {{/each}}
</ul>