<header class="message-header flexrow">
    <div class="message-sender">
        <img src="{{img}}" alt="{{name}}">
        <div class="name">
            <span class="title">{{name}}</span>
            {{#if subtitle}}
            <span class="subtitle">{{subtitle}}</span>
            {{/if}}
        </div>
    </div>
    <div class="message-metadata">
        <time class="message-timestamp">{{timestamp}}</time>
        <a aria-label="Delete" class="message-delete">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</header>