<div class="roll-details">
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
    </div>
    <div class="dice-total collapsed">
        <div class="total-value {{#if rolledOpportunity}}opportunity{{/if}} {{#if rolledComplication}}complication{{/if}}">
            <span>{{total}}</span>
            {{#times opportunitiesCount}}
            <i class="cosmere-icon opportunity"></i>
            {{/times}}
            {{#times complicationsCount}}
            <i class="cosmere-icon complication"></i>
            {{/times}}

            {{#if (and isDamage hasMod)}}
            <span class="mod">+ {{options.mod}}</span>
            {{/if}}

            <div class="controls">
                {{#if isDamage}}
                {{#with (damageTypeConfig damageType) as |damageType|}}
                <div class="damage-type">
                    <span class="label">{{localize damageType.label}}</span>
                    {{#if damageType.icon}}{{damageType.icon}}{{/if}}
                </div>
                {{/with}}
                {{/if}}

                <div class="delim"></div>
                <i class="fa-solid fa-chevron-left"></i>
            </div>
        </div>
        <hr>
        <div class="roll-breakdown">
            <ul>
                {{#each dice as |die|}}
                {{#each die.results as |roll|}}
                <li class="die roll {{die.denomination}}">
                    <span>
                    {{#if (not die.isPlotDie)}}
                        {{roll.result}}
                    {{else}}
                        {{#if die.rolledOpportunity}}
                            <i class="cosmere-icon opportunity"></i>
                        {{else if die.rolledComplication}}
                            <span>{{roll.count}}</span>
                            <i class="cosmere-icon complication"></i>
                        {{else}}
                            —
                        {{/if}}
                    {{/if}}
                    </span>
                </li>
                {{/each}}
                {{/each}}
            </ul>
        </div>

    </div>
</div>