<div class="resource {{resource.id}}" data-id="{{resource.id}}">
    <div class="header">
        <span class="label">{{localize resource.label}}</span>
        <div class="controls">
            {{#if isEditMode}}
            <a role="button"
                data-action="configure-resource"
                data-tooltip="{{localize "GENERIC.Configure"}} {{localize resource.label}}"
            >
                <i class="fa-solid fa-gear"></i>
            </a>
            {{else if (eq resource.id "hea")}}
            <a role="button"
                data-action="roll-injury"
                data-tooltip="COSMERE.Actor.Sheet.RollInjury"
            >
                <i class="fa-solid fa-heart-crack"></i>
            </a>
            {{/if}}
        </div>
    </div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 180 24" xml:space="preserve" preserveAspectRatio="none">
    <path fill="currentColor" d="M180,7c-0.7,0-1.4-0.1-2-0.3V2h-4.7c-0.2-0.6-0.3-1.3-0.3-2H7c0,0.7-0.1,1.4-0.3,2H2v4.7C1.4,6.9,0.7,7,0,7v10
        c0.7,0,1.4,0.1,2,0.3V22h4.7C6.9,22.6,7,23.3,7,24h166c0-0.7,0.1-1.4,0.3-2h4.7v-4.7c0.6-0.2,1.3-0.3,2-0.3V7z M177,3v3.3
        c-1.5-0.7-2.6-1.9-3.3-3.3H177z M3,3h3.3C5.6,4.5,4.5,5.6,3,6.3V3z M3,21v-3.3c1.5,0.7,2.6,1.9,3.3,3.3H3z M177,21h-3.3
        c0.7-1.5,1.9-2.6,3.3-3.3V21z M178,15.2c-3.4,0.8-6,3.4-6.8,6.8H8.8C8,18.6,5.4,16,2,15.2V8.8C5.4,8,8,5.4,8.8,2h162.4
        c0.8,3.4,3.4,6,6.8,6.8V15.2z"/>
    </svg>
    <div class="bar {{#if editable}}editable{{/if}}" data-action="edit-value">
        <div class="value">
            <span class="current">{{resource.value}}</span>
            <span class="delim">/</span>
            <span class="max">{{resource.max}}</span>
        </div>
        <div class="inner-bar" style="width: {{perc resource.value resource.max}};"></div>
        <input type="text" name="system.resources.{{resource.id}}.value" value="{{resource.value}}">
    </div>
</div>