<div class="skill-decorations">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         class="bot left" viewBox="0 0 10 10" xml:space="preserve">
        <path d="M7,0c0,0.7-0.1,1.4-0.3,2H2v4.7C1.4,6.9,0.7,7,0,7v3h2V8.8C5.4,8,8,5.4,8.8,2H10V0H7z M3,3h3.3C5.6,4.5,4.5,5.6,3,6.3V3z"/>
    </svg>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         class="bot right" viewBox="0 0 10 10" xml:space="preserve">
        <path d="M7,0c0,0.7-0.1,1.4-0.3,2H2v4.7C1.4,6.9,0.7,7,0,7v3h2V8.8C5.4,8,8,5.4,8.8,2H10V0H7z M3,3h3.3C5.6,4.5,4.5,5.6,3,6.3V3z"/>
    </svg>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         class="top left" viewBox="0 0 10 10" xml:space="preserve">
        <path d="M7,0c0,0.7-0.1,1.4-0.3,2H2v4.7C1.4,6.9,0.7,7,0,7v3h2V8.8C5.4,8,8,5.4,8.8,2H10V0H7z M3,3h3.3C5.6,4.5,4.5,5.6,3,6.3V3z"/>
    </svg>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         class="top right" viewBox="0 0 10 10" xml:space="preserve">
        <path d="M7,0c0,0.7-0.1,1.4-0.3,2H2v4.7C1.4,6.9,0.7,7,0,7v3h2V8.8C5.4,8,8,5.4,8.8,2H10V0H7z M3,3h3.3C5.6,4.5,4.5,5.6,3,6.3V3z"/>
    </svg>
</div>
<ul class="skill-list">
    {{#each skills as |skill|}}

    {{#if skill.active}}
    <li class="skill" data-id="{{skill.id}}">
        <div class="mod" data-action="roll-skill">
            <span>+{{derived skill.mod }}</span>
        </div>
        <div class="name" data-action="roll-skill">
            <span>{{ localize skill.config.label }}</span>
        </div>
        <div class="attribute" data-action="roll-skill">
            <span>{{ localize skill.config.attrLabel}}</span>
        </div>

        <div class="skill-pips ranks">
            {{#if @root.isEditMode}}
            <a data-action="adjust-skill-rank"
                data-tooltip="{{replace (localize "COSMERE.Actor.Sheet.Skills.AdjustTooltip") '[skill]' (localize skill.config.label)}}"
            >
            {{else}}
            <div>
            {{/if}}
                <ul class="pip-list">
                    {{#times skill.rank}}
                    <li class="pip active">
                        <div></div>
                    </li>
                    {{/times}}
                    {{#times (sub 5 skill.rank)}}
                    <li class="pip">
                        <div></div>
                    </li>
                    {{/times}}
                </ul>
            {{#if @root.isEditMode}}
            </a>
            {{else}}
            </div>
            {{/if}}
        </div>
    </li>
    {{/if}}

    {{/each}}
</ul>