{{#if hasDamage}}
<h5>{{localize "COSMERE.Item.Sheet.Damage.Title"}}</h5>
{{!-- Formula & Type --}}
<div class="form-group-stacked formula">
    <label>{{localize "COSMERE.Item.Sheet.Damage.Formula"}}</label>
    <div class="form-group">
        <input name="system.damage.formula"
            type="text"
            value="{{item.system.damage.formula}}"
            {{#if (not editable)}}
            readonly
            {{/if}}
        >
        <select name="system.damage.type"
            {{#if (not editable)}}
            disabled
            {{/if}}
        >
            {{selectOptions typeSelectOptions selected=item.system.damage.type localize=true}}
        </select>
    </div>
</div>

{{#if hasSkillTest}}
{{!-- Skill --}}
<div class="form-group">
    <label>{{localize "GENERIC.Skill"}}</label>

    {{#if hasSkill}}
    <select name="system.damage.skill"
        {{#if (not editable)}}
        disabled
        {{/if}}
    >
        {{selectOptions skillSelectOptions selected=item.system.damage.skill localize=true}}
    </select>
    {{else}}
    <input
        type="text"
        value="—"
        readonly
    >
    {{/if}}
</div>
<div class="form-group">
    <label>{{localize "GENERIC.Attribute"}}</label>
    {{#if hasSkill}}
    <select name="system.damage.attribute"
        {{#if (not editable)}}
        disabled
        {{/if}}
    >
        {{selectOptions attributeSelectOptions selected=item.system.damage.attribute localize=true}}
    </select>
    {{else}}
    <input
        type="text"
        value="—"
        readonly
    >
    {{/if}}
</div>
<div class="form-group-stacked">
    <div class="header">
        <label>{{localize "COSMERE.Item.Sheet.Damage.GrazeOverride"}}</label>
        <div class="controls">
            {{#if grazeInputCollapsed}}
            <a data-action="toggle-graze-collapsed"
                data-tooltip="COSMERE.Item.Sheet.Damage.GrazeShow"
            >
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            {{else}}
            <a data-action="toggle-graze-collapsed"
                data-tooltip="COSMERE.Item.Sheet.Damage.GrazeHide"
            >
                <i class="fa-solid fa-chevron-down"></i>
            </a>
            {{/if}}
        </div>
    </div>
    {{#if (not grazeInputCollapsed)}}
    <div class="form-group formula">
        <label>{{localize "COSMERE.Item.Sheet.Damage.GrazeFormula"}}</label>
        <input name="system.damage.grazeOverrideFormula"
            type="text"
            value="{{item.system.damage.grazeOverrideFormula}}"
            {{#if (not editable)}}
            readonly
            {{/if}}
        >
    </div>
    {{/if}}
{{/if}}
</div>
{{/if}}