{{#if hasActivation}}
{{!-- Type --}}
<div class="form-group">
    <label>{{localize "COSMERE.Item.Sheet.Activation.Type"}}</label>
    <div class="input-group">
        <select name="system.activation.type"
            {{#if (not editable)}}
            disabled
            {{/if}}
        >
            {{selectOptions typeSelectOptions selected=item.system.activation.type localize=true}}
        </select>
    </div>
</div>

{{!-- Cost --}}
<div class="form-group">
    <label>{{localize "COSMERE.Item.Sheet.Activation.Cost"}}</label>
    <div class="input-group">
        {{#if (eq item.system.activation.cost.type "act")}}
        <input name="system.activation.cost.value"
            type="number"
            min="0"
            max="3"
            step="1"
            value="{{item.system.activation.cost.value}}"
            {{#if (not editable)}}
            readonly
            {{/if}}
        >
        {{/if}}
        <select name="system.activation.cost.type"
            {{#if (not editable)}}
            disabled
            {{/if}}
        >
            {{selectOptions costTypeSelectOptions selected=item.system.activation.cost.type localize=true}}
        </select>
    </div>
</div>

{{!-- Consume --}}
<div class="form-group consume">
    <label>{{localize "COSMERE.Item.Sheet.Activation.Consume"}}</label>
    <div class="input-group">
        {{#if hasConsume}}
        <input name="system.activation.consume.value"
            type="number"
            min="0"
            step="1"
            value="{{item.system.activation.consume.value}}"
            {{#if (not editable)}}
            readonly
            {{/if}}
        >
        {{/if}}

        {{#if (eq item.system.activation.consume.type "actor_resource")}}
        <select name="system.activation.consume.resource"
            {{#if (not editable)}}
            disabled
            {{/if}}
        >
            {{selectOptions actorResourceSelectOptions selected=item.system.activation.consume.resource localize=true}}
        </select>
        {{/if}}

        {{#if (eq item.system.activation.consume.type "item_resource")}}
        <select name="system.activation.consume.resource"
            {{#if (not editable)}}
            disabled
            {{/if}}
        >
            {{selectOptions itemResourceSelectOptions selected=item.system.activation.consume.resource localize=true}}
        </select>
        {{/if}}

        <select name="system.activation.consume.type"
            {{#if (not editable)}}
            disabled
            {{/if}}
        >
            {{selectOptions consumeTypeSelectOptions selected=item.system.activation.consume.type localize=true}}
        </select>
    </div>
</div>

{{!-- Skill test --}}
{{#if (eq item.system.activation.type "skill_test")}}
<div class="form-group">
    <label>{{localize "GENERIC.Skill"}}</label>
    <div class="input-group">
        <select name="system.activation.skill"
            {{#if (not editable)}}
            disabled
            {{/if}}
        >
            {{selectOptions skillSelectOptions selected=item.system.activation.skill localize=true}}
        </select>
    </div>

</div>
<div class="form-group">
    <label>{{localize "GENERIC.Attribute"}}</label>
    <div class="input-group">
        {{#if hasSkill}}
        <select name="system.activation.attribute"
            {{#if (not editable)}}
            disabled
            {{/if}}
        >
            {{selectOptions attributeSelectOptions selected=item.system.activation.attribute localize=true}}
        </select>
        {{else}}
        <input
            type="text"
            value="—"
            readonly
        >
        {{/if}}
    </div>
</div>
{{/if}}
{{/if}}