<div class="talents-list {{#if editable}}editable{{/if}}">
    <div class="talent id header">
        <span>Id</span>
    </div>
    <div class="talent name header">
        <span>{{localize "COSMERE.Sheet.Talents.Name"}}</span>
    </div>
    <div class="talent level header">
        <span>{{localize "COSMERE.Sheet.Talents.Level"}}</span>
    </div>
    <div class="talent controls header">
    </div>

    {{#each talents as |talent|}}
    <div class="talent id" id="id-{{talent.id}}">
        <span {{#if @root.editable}} {{#if talent.edit}}contenteditable="true"{{/if}}{{/if}}>
            {{talent.id}}
        </span>
    </div>
    <div class="talent name" id="name-{{talent.id}}">
        {{!-- TODO: drive this based on the id value --}}
        <span {{#if @root.editable}} {{#if talent.edit}}contenteditable="true"{{/if}}{{/if}}>{{talent.name}}</span>
    </div>
    <div class="talent level" id="level-{{talent.id}}">
        <span {{#if @root.editable}} {{#if talent.edit}}contenteditable="true"{{/if}}{{/if}}>{{talent.level}}</span>
    </div>
    <div class="talent controls flexrow">
        {{#if @root.editable}}
            {{#if talent.edit}}
            <a data-action="edit-submit" id="submit-{{talent.id}}"
                data-tooltip="COSMERE.Sheet.Talents.Submit"
            >
                <i class="fa-solid fa-check"></i>
            </a>
            <a data-action="edit-cancel" id="cancel-{{talent.id}}"
                data-tooltip="COSMERE.Sheet.Talents.Cancel"
            >
                <i class="fa-solid fa-xmark"></i>
            </a>
            {{else}}
            <a data-action="edit-talent" id="edit-{{talent.id}}"
                data-tooltip="COSMERE.Sheet.Talents.Edit"
            >
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            {{/if}}
        <a data-action="delete-talent" id="delete-{{talent.id}}"
            data-tooltip="COSMERE.Sheet.Talents.Delete"
        >
            <i class="fa-solid fa-trash"></i>
        </a>
        {{/if}}
    </div>
    {{/each}}
    {{#if addMode}}
    <div class="talent id" id="new-id">
        <span contenteditable="true" />
    </div>
    <div class="talent name" id="new-name">
        <span contenteditable="true" />
    </div>
    <div class="talent level" id="new-level">
        <span contenteditable="true" />
    </div>
    <div class="talent controls flexrow">
        <a data-action="edit-submit" id="submit-new"
            data-tooltip="COSMERE.Sheet.Talents.Submit"
        >
            <i class="fa-solid fa-check"></i>
        </a>
        <a data-action="edit-cancel" id="cancel-new"
            data-tooltip="COSMERE.Sheet.Talents.Cancel"
        >
            <i class="fa-solid fa-xmark"></i>
        </a>
    </div>
    {{else}}
    <div class="talent new">
        <a data-action="add-talent">
            <i class="fa-solid fa-plus"></i>
            <span>
                {{localize "COSMERE.Sheet.Talents.Add"}}
            </span>
        </a>
    </div>
    {{/if}}
</div>