<form>
    <div class="form-group">
        <input type="text" value="{{typeLabel}}" disabled>
    </div>
    <div class="form-group-stacked">
        <label>{{localize "COSMERE.Actor.Sheet.CreatureType"}}</label>
        <ul>
            {{#each configuredTypes as |type|}}
            <li {{#if (eq type.id 'custom')}}style="display:none"{{/if}}>
                <input type="radio" name="primaryType" value="{{type.id}}" {{#if type.selected}}checked{{/if}}>
                <label>{{localize type.label}}</label>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="form-group">
        <label>{{localize "COSMERE.Actor.Sheet.CustomType"}}</label>
        <input type="text" name="custom" value="{{type.custom}}">
    </div>
    <div class="form-group">
        <label>{{localize "COSMERE.Actor.Sheet.Subtype"}}</label>
        <input type="text" name="subtype" value="{{type.subtype}}">
    </div>
    <button type="submit" data-action="update-type">
        {{localize "GENERIC.Button.Update"}}
    </button>
</form>