<form>
    {{!-- Type --}}
    <div class="form-group">
        <label>{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.Type"}}</label>
        <div class="form-fields">
            <select name="type">
                {{selectOptions typeSelectOptions selected=type localize=true}}
            </select>
        </div>
    </div>

    {{!-- Talent --}}
    {{#if (eq type "talent")}}
    <div class="form-group">
        <label>{{localize "GENERIC.Mode"}}</label>
        <div class="form-fields">
            {{#if (gt talents.length 1)}}
            <select name="mode">
                {{selectOptions prerequisiteModeSelectOptions selected=mode localize=true}}
            </select>
            {{else}}
            <input type="text"
                name="mode"
                value="—"
                readonly
            >
            {{/if}}
        </div>
    </div>

    <div class="form-group">
        {{app-talent-prerequisite-talent-list
            rootTalent=rootTalent
            talents=talents
            mode=mode
        }}
    </div>
    {{/if}}

    {{!-- Attribute --}}
    {{#if (eq type "attribute")}}
    <div class="form-group">
        <label>{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.Attribute"}}</label>
        <div class="form-fields">
            <select name="attribute">
                {{selectOptions attributeSelectOptions selected=attribute localize=true}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.AttributeValue"}}</label>
        <div class="form-fields">
            <input 
                type="number" 
                name="value" 
                value="{{value}}"
                min="0"
                step="1"
                placeholder="{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.AttributeValuePlaceholder"}}"
            >
        </div>
    </div>
    {{/if}}

    {{!-- Skill --}}
    {{#if (eq type "skill")}}
    <div class="form-group">
        <label>{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.Skill"}}</label>
        <div class="form-fields">
            <select name="skill">
                {{selectOptions skillSelectOptions selected=skill localize=true}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.SkillRank"}}</label>
        <div class="form-fields">
            <input 
                type="number" 
                name="rank" 
                value="{{rank}}"
                min="0"
                step="1"
                placeholder="{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.SkillRankPlaceholder"}}"
            >
        </div>
    </div>
    {{/if}}

    {{!-- Connection --}}
    {{#if (eq type "connection")}}
    <div class="form-group">
        <label>{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.ConnectionDescription"}}</label>
        <div class="form-fields">
            <input 
                type="text" 
                name="description" 
                value="{{description}}"
                placeholder="{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.ConnectionDescriptionPlaceholder"}}"
            >
        </div>
    </div>
    {{/if}}

    {{!-- Level --}}
    {{#if (eq type "level")}}
    {{formGroup schema.fields.level
        value=level
        name="level"
        localize=true
    }}
    {{/if}}

    {{!-- Submit --}}
    <br>
    <div class="form-group">
        <button data-action="update" type="submit">
            {{localize "GENERIC.Button.Update"}}
        </button>
    </div>
</form>