<form>
    <div class="form-group">
        <label>{{ localize "GENERIC.Formula"}}</label>
        <input type="text" name="formula" value="{{formula}}" disabled>
    </div>

        <div class="form-group-stacked">
        <h5>{{localize "DIALOG.ConfigureAttack.AdvantageMode.Title"}}</h5>
        <ul class="dice-config">
            <li class="dice header">
                <div class="col dice">
                    <span>{{localize "DIALOG.ConfigureAttack.AdvantageMode.Field.Dice"}}</span>
                </div>
                <div class="col type">
                    <span>{{localize "DIALOG.ConfigureAttack.AdvantageMode.Field.Type"}}</span>
                </div>
                <div class="col mode"></div>
            </li>

            {{!-- Skill test --}}
            <li class="dice">
                <div class="col dice">
                    <span>{{dice}}</span>
                </div>
                <div class="col type">
                    <span>{{localize "GENERIC.SkillTest"}}</span>
                </div>
                <div class="col mode">
                    {{app-multi-state-toggle
                        name="advantageMode"
                        selected=advantageMode
                        states=advantageModes
                    }}
                </div>
            </li>

            {{!-- Plot die --}}
            {{#if plotDie}}
            <li class="dice">
                <div class="col dice">
                    <span>1dp</span>
                </div>
                <div class="col type">
                    <span>{{localize "GENERIC.Plot"}}</span>
                </div>
                <div class="col mode">
                    {{app-multi-state-toggle
                        name="advantageModePlot"
                        selected=advantageModePlot
                        states=advantageModes
                    }}
                </div>
            </li>
            {{/if}}
        </ul>
    </div>

    <div class="form-group">
        <label>{{ localize 'COSMERE.Actor.Attribute.name' }}</label>
        <select name="attribute">
            {{selectOptions attributes selected=defaultAttribute localize=true}}
        </select>
    </div>

    <div class="form-group">
        <label>{{ localize "DICE.Plot.RaiseTheStakes" }}</label>
        <input type="checkbox" name="plotDie" {{#if plotDie}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>{{ localize "DICE.RollMode" }}</label>
        <select name="rollMode">
            {{selectOptions rollModes selected=defaultRollMode localize=true}}
        </select>
    </div>

    <br>
    <div class="form-group">
        <button data-action="submit" 
            type="submit"
        >
            {{ localize "GENERIC.Button.Roll" }}
        </button>
    </div>
</form>