<ul class="prerequisites-list">
    <li class="rule header">
        <div class="col type">
            <span>{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.Type"}}</span>
        </div>
        <div class="col description">
            <span>{{localize "COSMERE.Item.Sheet.Talent.Prerequisites.Description"}}</span>
        </div>
        <div class="col controls flexrow">
            {{#if editable}}
            <div></div>
            <a data-action="create-prerequisite"
                data-tooltip="COSMERE.Item.Sheet.Talent.Prerequisites.Create"
            >
                <i class="fa-solid fa-plus"></i>
            </a>
            {{/if}}
        </div>
    </li>

    {{#each prerequisites as |rule|}}
    <li class="rule" data-id="{{rule.id}}">
        <div class="col type">
            <span>{{localize rule.typeLabel}}</span>
        </div>
        <div class="col description">
            {{#if (eq rule.type "talent")}}
            <span>{{default rule.label rule.talent}}</span>
            {{else if (eq rule.type "attribute")}}
            <span>{{localize (concat "COSMERE.Attribute." rule.attribute)}}</span>
            <span>{{rule.value}}+</span>
            {{else if (eq rule.type "skill")}}
            <span>{{localize (concat "COSMERE.Skill." rule.skill)}}</span>
            <span>{{rule.rank}}+</span>
            {{else if (eq rule.type "connection")}}
            <span>{{rule.description}}</span>
            {{/if}}
        </div>
        <div class="col controls flexrow">
            {{#if @root.editable}}
            <a data-action="edit-prerequisite"
                data-tooltip="COSMERE.Item.Sheet.Talent.Prerequisites.Edit"
            >
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a data-action="delete-prerequisite"
                data-tooltip="COSMERE.Item.Sheet.Talent.Prerequisites.Delete"
            >
                <i class="fa-solid fa-trash"></i>
            </a>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>