<form>
    {{formGroup schema.fields.type value=type localize=true}}

    {{#if (eq type "skill-ranks")}}
        {{formGroup schema.fields.skill value=skill localize=true blank=false}}
        {{formGroup schema.fields.ranks value=ranks localize=true}}
    {{else if (eq type "power")}}
        <div class="form-group">
            <label>{{localize schema.fields.power.label}}</label>
            <div class="form-fields">
                {{app-document-reference-input
                    name="power"
                    value=power
                    type="Item"
                    subtype="power"
                    placeholder="COSMERE.Item.Goal.Sheet.GrantRule.PowerReferencePlaceholder"
                }}
            </div>
        </div>
    {{/if}}

    {{!-- Submit --}}
    <br>
    <div class="form-group">
        <button data-action="update" type="submit">
            {{localize "GENERIC.Button.Update"}}
        </button>
    </div>
</form>